.app-container {
  .ql-toolbar {
    .ql-formats {
      .ql-header {
        .ql-picker-options {
          border-radius: 5px;
          background-color: lightgreen;

          span {
            color: purple;

            &:hover {
              color: yellow;
            }
          }
        }
      }
    }
  }
}
